.header{
    height: 120px;
    background-image: linear-gradient(
        to top, #fe6433, #f53e2d
    );
}
.header__nav-list{
    margin-top: 6px;
}
.header__nav-iteam{
    display: inline-block;
    list-style: none;
    margin: 0 8px;
    position: relative;
} 
.header__nav{
    display: flex;
    justify-content: space-between;   
}
.header__nav-iteam,
.header__nav-iteam-link{
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__nav-iteam,
.header__nav-iteam-link,
.header__nav-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__nav-iteam:hover,
.header__nav-iteam-link:hover,
.header__nav-icon-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}
.header__nav-iteam-link-bold{
    font-weight: 400;
}
.header__nav-iteam-separate::after{
    content: "";
    position: absolute;
    display: block;
    border-right:1px solid #FB9086 ;
    height: 15px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__nav-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header_nav-icon{
    font-size: 1.6rem;
    margin: 0 4px;
}
.nav_title-nopointer{
    cursor: text;
    color: var(--white-color);
}
/* qr code */
.header__QR{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 150%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn 0.25s ease-in;
}
.header__QR::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 20px;
    left: 0;
    top: -15px;
}
.header__nav-iteam-hqr:hover .header__QR{
    display: block;
}
.qr-img{
    width: 100%;
    margin-bottom:7px;
}
.qr-app{
    display: flex;
    justify-content: space-around;
}
.appdow{
    height: 16px; 
}
/* Vị trí số 1 */
.qr-link:nth-child(1){
    margin-left: 10px;
}
.qr-link:nth-child(2){
    margin-right: 10px;
}
.header__nav_nofi{
    width:404px;
    position: absolute;
    top: 150%;
    right: 0;
    border: 1px solid #9f8787;
    background-color: white;
    display: none;
    transform-origin: top right;
    animation: thongbaolonlen 0.25s ease-in;
}
.header__nav_nofi::before{
    content: "";
    display: block;
    width: 85px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -10px;
}
.header__nav_nofi::after{
    content: "";
    position: absolute;
    top: -27px;
    right: 10px;
    border: 20px solid;
    border-color: transparent transparent #eee4e4 transparent;
}
.header__nav-iteam-hien:hover .header__nav_nofi{
    display: block;
}
@keyframes thongbaolonlen {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.header_nofi-title{
    color: var(--text-color);
    height: 35px;
    padding-left: 10px;
    background-color: #eee4e4;
    cursor: text;
    user-select: none;
}
.header_nofi-title h3{
    line-height: 35px;
    font-weight: 400;
    font-size: 1.5rem;
}
.header_nofi-iteam{
    padding: 10px;
    background-color: #dfd2d2;
    
}
.header_nofi-iteam a{
    display: flex;
    text-decoration: none;
}
.header_nofi-img{
    width: 70px;
    margin-right:10px ;
}
.header_nofi-link-title{
    color: var(--text-color);
    font-weight: 400;
}
.header_nofi-link-message{
    margin-top: 4px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 350;
}
.footer_nofi{
    height: 30px;
    width: 100%;
    background-color: #f1e8e8;
    text-align: center;
}
.footer_nofi-link{
    text-decoration: none;
    color: var(--text-color); 
    font-weight: 400;
    line-height: 30px;
    font-size: 1.5rem;
}
.header_nofi-iteam-hove:hover{
    background-color: #f0e1e1;
}
